<section id="footer">
  <div class="footer-container">
    <div class="left-footer">
      <a routerlink="/" href="/">
        <img
          src="/img/modlucLogoFooter.png"
          alt="Modluc Footer Logo"
          class="footer-logo"
        />
      </a>
      <div class="social-media-logo">
        <a href="https://www.instagram.com/modluc_group"
          ><i class="instagram bi bi-instagram"></i
        ></a>
        <a href="https://ng.linkedin.com/company/modluc"
          ><i class="linkedin bi bi-linkedin"></i>
        </a>
      </div>
      <div class="col-12 copyright">
        ©2025, Modluc Group All Rights Reserved
      </div>
    </div>
    <div class="center-footer">
      <a routerlink="/services" class="services" href="/services">Services</a
      ><a routerlink="/contact" class="contacts" href="/contact">Contacts</a>
    </div>
    <div class="right-footer">
      <div class="address">
        Adebisi Ogunniyi Crescent<br />Lekki phase 1, Lagos, Nigeria
      </div>
      <div class="phone-number-1">+234 806 091 4935</div>
      <div class="phone-number-2">+234 907 932 7186</div>
    </div>
  </div>
</section>
