<section id="homeContent">
  <div class="container-fluid">
    <img src="/img/welcome.png" alt="" class="welcome" />
    <div class="welcomeDiv">
      <h4 class="welcomeTxt">
        Welcome to Modluc, your trusted enterprise software agency. we are
        committed to delivering custom solutions that propel your business
        forward. <br /><br />Our team of experienced experts excel in creating
        innovative software solutions that streamline operations and fuel
        exponential growth. <br />Let us be your reliable partner in achieving
        success through technology. Don't wait - contact us today and unlock the
        countless possibilities for your business!
      </h4>
    </div>
    <div class="services">
      <div class="row">
        <div class="col-6">
          <div class="cloudInfrastructureDiv">
            <h1 class="cloudInfrastructureTitle">Cloud Infrastructure</h1>
            <h4 class="cloudInfrastructureTxt">
              Completely transform your business with a virtualized
              infrastructure
            </h4>
            <a href="https://modluc.com/services/#cloudInfrastructure">
              <img src="/img/readMoreSvg.png" alt="" class="readMore" />
            </a>
            <img
              src="/img/cloudInfrastructure.png"
              alt=""
              class="cloudInfrastructureImg"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="businessProcessAutomationDiv">
            <h1 class="businessProcessAutomationTitle">
              Business Process Automation
            </h1>
            <h4 class="businessProcessAutomationTxt">
              Unlock the Potential of Automation and Boost Your Business
              Efficiency
            </h4>
            <a href="https://modluc.com/services/#cloudInfrastructure"
              ><img src="/img/readMoreSvg.png" alt="" class="readMore" /></a
            ><img
              src="/img/businessProcessAutomation.png"
              alt=""
              class="businessProcessAutomationImg"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="digitalAdvisoryDiv">
            <h1 class="digitalAdvisoryTitle">Digital Advisory</h1>
            <h4 class="digitalAdvisoryTxt">
              Take advantage of everything the 4th Industrial Age has to offer
              with Modluc's Digital Solutions and Marketing Services.
            </h4>
            <a href="https://modluc.com/services/#cloudInfrastructure"
              ><img src="/img/readMoreSvg.png" alt="" class="readMore" /></a
            ><img
              src="/img/digitalAdvisory.png"
              alt=""
              class="digitalAdvisoryImg"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="modernWorkPlaceDiv">
            <h1 class="modernWorkPlaceTitle">Modern Workplace</h1>
            <h4 class="modernWorkPlaceTxt">
              Take advantage of everything the 4th Industrial Age has to offer
              with Modluc's Digital Solutions and Marketing Services.
            </h4>
            <a href="https://modluc.com/services/#cloudInfrastructure"
              ><img src="/img/readMoreSvg.png" alt="" class="readMore" /></a
            ><img
              src="/img/modernWorkPlace.png"
              alt=""
              class="modernWorkPlaceImg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
