<section id="newsLetter">
  <form
    title="newsLetter"
    action="https://formsubmit.co/info@modluc.com"
    method="post"
    class="container-fluid"
  >
    <div class="content">
      <h1 class="contentTitle">Keep yourself up to date</h1>
      <h4 class="contentTxt">
        Subscribe to our newsletter for tips and strategies to increase profits.
      </h4>
      <div class="input">
        <input
          type="email"
          name="Email"
          id="email"
          placeholder="Enter Email Address"
        />
        <button type="submit" id="submit">
          <h4 id="submitTxt">Submit</h4>
        </button>
      </div>
    </div>
  </form>
</section>
