<section id="header" appNavScrollModifier class="d-flex flex-column">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <a routerLink="/">
          <img
            src="img/mobileNavBarLogo.png"
            alt="Modluc Nav Logo"
            class="modlucLogo"
          />
        </a>
      </div>
      <div class="col-6">
        <ul class="navMenu">
          <li routerLinkActive="active">
            <a routerLink="/home">Home</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/services">Services</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
