@import "https://fonts.googleapis.com/css?family=Outfit";
@font-face {
  font-family: Charlie Display;
  src: url(/fonts/charlie-display-3.ttf);
}

#services {
  max-width: 100%;
  height: 100%;
  background-color: #0e082c;
  background-size: cover;
  position: relative;
}

#services:before {
  content: "";
  background: url(/img/eclipse.png) top center;
  background-size: cover;
  position: absolute;
  inset: 0;
}

.rectangleDiv {
  width: 100%;
}

.rectangle {
  width: 1.5vw;
  margin-top: 15vw;
  margin-left: 23%;
  position: relative;
}

.servicesWriteUpWhite {
  width: 30vw;
  font-family: Outfit;
  font-size: 3.9vw;
  font-weight: 600;
  line-height: 5vw;
  letter-spacing: -0.015em;
  color: #fff;
  margin-top: 5%;
  margin-left: 20%;
  position: relative;
}

.servicesWriteUpOrange {
  color: #f1872c;
}

a {
  text-decoration: none;
}

.contactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4e51;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 1.25vw;
  letter-spacing: 0.06vw;
  width: 9.5vw;
  height: 5%;
  margin-top: 5vw;
  margin-left: 20%;
  position: relative;
  border-radius: 0.8vw;
}

.contactUs:hover {
  background-color: #fff;
  color: #fd5457;
  transition: all 0.3s ease-in-out;
}

.producedBy {
  font-family: Outfit;
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: -0.015em;
  margin-top: 6vw;
  margin-left: 21%;
  color: #fff;
  position: relative;
}

.microsoftLogo {
  width: 13.5vw;
  margin-left: 18%;
  margin-bottom: 10%;
  position: relative;
}

.groupImg {
  margin-top: 29%;
  width: 80%;
  position: relative;
  margin-bottom: 3%;
}
