<app-nav-bar></app-nav-bar>
<section id="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="rectangleDiv">
          <img src="/img/Rectangle orange.png" alt="" class="rectangle" />
        </div>
        <h1 class="servicesWriteUpWhite">
          Seemless
          <span class="servicesWriteUpOrange">Integration of </span>Enterprise
          Tech Solutions.
        </h1>
        <a routerLink="/contact" href="/contact">
          <div class="contactUs">Contact us</div>
        </a>
        <h4 class="producedBy">Partnered by</h4>
        <img src="/img/microsoft-white 1.png" alt="" class="microsoftLogo" />
      </div>
      <div class="col-6">
        <img src="/img/groupServicebg.png" alt="" class="groupImg" />
      </div>
    </div>
  </div>
</section>
<app-services-content></app-services-content>
