<app-nav-bar></app-nav-bar>
<section id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="rectangleDiv">
          <img src="img/Rectangle red.png" alt="" class="rectangle" />
        </div>
        <h1 class="homeWriteUpWhite">
          Creating
          <span class="homeWriteUpRed">Ground Breaking Results</span>
          one optimized solution at a time
        </h1>
        <h4 class="homeWriteUp2">
          We are dedicated to developing cutting-edge solutions that cater to
          customer’s needs, allowing us to expand our IT horizons and
          continually explore new possibilities in the industry.
        </h4>
        <a routerLink="/contact" href="/contact">
          <div class="contactUs">Contact us</div>
        </a>
        <h4 class="producedBy">Partnered by</h4>
        <img src="img/microsoft-white 1.png" alt="" class="microsoftLogo" />
      </div>
      <div class="col-6">
        <img src="img/grouphomebg.png" alt="" class="groupImg" />
      </div>
    </div>
  </div>
</section>
<app-home-content></app-home-content>
