<section id="contact">
  <div class="contact-container">
    <iframe
      title="googleMap"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.6850847257974!2d3.4797843!3d6.434480899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5b5f33f1e4f%3A0x35db3a08d3edbf9e!2s23%20Adebisi%20Ogunniyi%20Cres%2C%20Lekki%20Phase%20I%20106104%2C%20Lagos!5e0!3m2!1sen!2sng!4v1689391750870!5m2!1sen!2sng"
      width="1423"
      height="450"
      allowfullscreen="true"
      referrerpolicy="no-referrer-when-downgrade"
      class="map"
    ></iframe>
    <div class="enquires">
      <form
        title="Enquires"
        action="https://formsubmit.co/info@modluc.com"
        method="post"
        class="contact-form"
      >
        <input
          type="text"
          name="Name"
          id="name"
          placeholder="Name"
          required=""
        /><input
          type="email"
          name="Email"
          id="email"
          placeholder="Email"
          required=""
        /><textarea
          name="Message"
          id="message"
          rows="10"
          placeholder="Enter your message here"
          required=""
        ></textarea
        ><button for="check" type="submit" id="submit">
          <h4 id="submitTxt">Submit</h4>
        </button>
      </form>
      <div class="info">
        <div class="location">
          <img
            src="../../assets/img/locationLogo.png"
            alt=""
            class="locationLogo"
          />
          <div class="address">
            Adebisi Ogunniyi Crescent , Lekki phase 1, Lagos, Nigeria
          </div>
        </div>
        <div class="contact">
          <img src="../../assets/img/callLogo.png" alt="" class="phoneLogo" />
          <div class="phone-number-1">08060914935</div>
          <div class="phone-number-2">09079327186</div>
        </div>
      </div>
    </div>
  </div>
</section>
